.movie-list-search-sort {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.movie-list-search-sort input {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #8da7ff;
  color: white;
  width: 20rem;
}

.movie-list-search-sort input::placeholder {
  color: white;
}

.movie-list-search-sort select {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #8da7ff;
  color: white;
}

@media screen and (max-width: 768px) {
  .movie-list-search-sort {
    flex-direction: column;
    width: 100%;
  }

  .movie-list-search-sort input {
    margin-bottom: 1rem;
    width: 100%;
  }
}
