.aboutUs-container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.aboutUs{
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 0 5rem;
    max-width: 1440px;
}

.aboutUs p{
    text-align: center;
    font-size: 1.7rem;
}

.aboutUs-container::before{
    content: "";
    background: url("../../images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}