/* movie */
.movie-container{
    display: flex;
    justify-content: center;
}

.movie{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie > h1{
    margin: 3rem;
}

.movie-form-container{
    width: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8rem;
}

/* movie form */
.movie-form{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.movie-form > input{
    width: 100%;
    margin: 1.5rem 0;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.movie-form > select{
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.movie-form > select option{
    color: gray;
}

.movie-form-btn > button{
    width: 25rem;
    background-color: #8da7ff;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 1rem 0;
}

/* movie list */
.movie-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movie-list-search-sort{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.movie-list-search-sort input{
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #8da7ff;
    color: white;
}

.movie-list-search-sort input::placeholder{
    color: white;
}

.movie-list-search-sort select{
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #8da7ff;
    color: white;
}

.movie-list-table{
    width: 100%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
}

.movie-list-table table{
    width: 95%;
    margin: 1.5rem 0;
    border-collapse: collapse;
}

.movie-list-table table img{
    height: 1.8rem;
    margin: 0 1rem;
    cursor: pointer;
}

.movie-list-table table thead{
    background-color: #8da7ff;
    color: white;
    font-size: 1.7rem;
}

.movie-list-table table thead > tr th{
    padding: 0.8rem 0;
}

.movie-list-table table tbody > tr{
    background-color: white;
    font-size: 1.7rem;
    text-align: center;
    border-top: 1rem solid #efefef;
}

.movie-list-table table tbody > tr td{
    padding: 0.8rem;
}

/* movie pagination and download pdf */